<h1>New Track</h1>

<!--<%= params[:project_id] %>-->

<%= form_for @track, :url => { :action => "create" } do |f| %>
  <%= f.text_field :title %>
  <%= f.hidden_field :project_id %>
  <%= f.submit "Create" %>
  <%= f.file_field :wav %>
<% end %>

<a href="#" id="startrecording">Start Recording</a>
<a href="#" id="stoprecording">Stop Recording</a>

<script type="text/javascript">
	$(document).ready(function() {
		RecordPage.init(); 
	});
</script>